body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }

  .container {
    width: 100%;
    z-index: 10;
    position: fixed;
  }
  .container_part{
    padding-top: 50px;
  }